<%- include('./partials/header.ejs') %>
<%- include('./partials/sidebar.ejs') %>
<%- include('./partials/mainHeader.ejs') %>
                <div class="row justify-content-center">
                  <!-- Textual inputs start -->
                  <div class="col-lg-6 mt-5">
                      <div class="card">
                          <div class="card-body">
                              <h4 class="header-title"><%= title %></h4>
                              <p class="text-muted font-14 mb-4"><%= message %></p>
                              <form action="/students/<%= student.id %>/add-subject" method="post">
                                <div class="form-group">
                                  <label for="example-text-input" class="col-form-label">First Name</label>
                                  <input class="form-control" value="<%= student.firstName %>" type="text" placeholder="First Name" id="firstName" name="firstName" disabled>
                                </div>
                                <div class="form-group">
                                  <label for="example-text-input" class="col-form-label">Last Name</label>
                                  <input class="form-control" value="<%= student.lastName %>" type="text" placeholder="Last Name" id="lastName" name="lastName" disabled>
                                </div>
                                <div class="form-group">
                                  <label for="example-text-input" class="col-form-label">Email</label>
                                  <input class="form-control" value="<%= student.email %>" type="email" placeholder="Email" id="email" name="email" disabled>
                                </div>
                                <div class="form-group">
                                  <label for="example-text-input" class="col-form-label">Subject</label>
                                  <select name="SubjectId" class="custom-select" id="SubjectId">
                                      <option selected="selected" value='0'>Subject</option>
                                      <% subjects.forEach( subject => { %>
                                      <option value="<%= subject.id %>"><%= subject.subjectName %></option>
                                      <% }) %>
                                  </select>
                                </div>
                                <div class="form-group pull-right">
                                  <button type="submit" class="btn btn-primary mb-3">Submit</button>
                                  <button type="cancel" class="btn btn-danger mb-3">Cancel</button>
                              </div>
                              </form>
                        </div>
                      </div>
                  </div>
                  <!-- Textual inputs end -->
                </div>
<%- include('./partials/footer.ejs') %>
<%- include('./partials/script.ejs') %>