<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
</head>
<body>
    <%-include('./partials/navbar.ejs')%>
  <h1>ADD <%= route.toUpperCase() %></h1>
    <form action="/<%= route %>/add" method="POST">
        Subject Name:<br>
        <input type="text" name="subjectName">
        <br><br>
        <input type="submit" value="ADD <%= route.toUpperCase() %>">
      </form> 
      <%-include('./partials/footer.ejs')%> 
</body>
</html>