<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partial/style.ejs') %>
      <head>
        <meta charset="utf-8">
        <title></title>
      </head>
      <body>
        <%- include('./partial/header.ejs') %>
    <h1 align="center"><%= title%></h1>
    <table align="center">
      <tr>
        <th>id</th>
        <td><%= item.id%></td>
      </tr>
      <tr>
        <th>First Name</th>
        <td><%= item.first_name%></td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td><%= item.last_name%></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= item.email%></td>
      </tr>
      <tr>
        <form method="post">
          <th>Choose Subject</th>
          <td>
            <select name="SubjectId">
              <% dataSubject.forEach(item =>{%>
                <option value="<%= item.id%>"> <%= item.subject_name%> </option>
              <% }) %>
            </select>
          </td>
      </tr>
      <tr>
          <td></td>
          <td>
            <button type="submit" class="btn btn-default">Add</button>
            <a href="/students" align="center">
              <button type="button" name="button">cancel</button>
            </td>
        </form>
      </tr>
    </table>
  </body>
</html>
