<%- include('./partials/header.ejs') %>
<%- include('./partials/sidebar.ejs') %>
<%- include('./partials/mainHeader.ejs') %>
              <div class="row justify-content-center">
                  <!-- Textual inputs start -->
                  <div class="col-lg-6 mt-5">
                      <div class="card">
                          <div class="card-body">
                              <h4 class="header-title"><%= title %></h4>
                              <p class="text-muted font-14 mb-4"><%= message %></p>
                              <% if(typeof msg != 'undefined' && msg) { %>
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <strong><%= msg %></strong>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span class="fa fa-times"></span>
                                        </button>
                                </div>
                              <% } %>
                              <form action="/teachers/add"  id="formTeacher" method="post"">
                                <div class="form-group">
                                  <label for="example-text-input" class="col-form-label">First Name</label>
                                  <input class="form-control" type="text" placeholder="First Name" id="firstName" name="firstName">
                                </div>
                                <div class="form-group">
                                  <label for="example-text-input" class="col-form-label">Last Name</label>
                                  <input class="form-control" type="text" placeholder="Last Name" id="lastName" name="lastName">
                                </div>
                                <div class="form-group">
                                  <label for="example-text-input" class="col-form-label">Email</label>
                                  <input class="form-control" type="email" placeholder="Email" id="email" name="email">
                                </div>
                                <div class="form-group">
                                  <label for="example-text-input" class="col-form-label">Subject</label>
                                  <select name="SubjectId" class="custom-select" id="SubjectId">
                                      <option selected="selected" value='0'>Subject</option>
                                      <% subjects.forEach( subject => { %>
                                      <option value="<%= subject.id %>"><%= subject.subjectName %></option>
                                      <% }) %>
                                  </select>
                                </div>
                                <div class="form-group pull-right">
                                  <button type="submit" class="btn btn-primary mb-3">Submit</button>
                                  <button type="cancel" class="btn btn-danger mb-3">Cancel</button>
                                </div>
                              </form>
                        </div>
                      </div>
                  </div>
                  <!-- Textual inputs end -->
                </div>
                <%- include('./partials/footer.ejs') %>
    <script type="text/javascript">
      window.addEventListener('DOMContentLoaded', function() {
        let dataTeacher = "<%= teacher %>";
        if (dataTeacher != "null") {
          document.getElementById("firstName").value = "<%= teacher.firstName %>";
          document.getElementById("lastName").value = "<%= teacher.lastName %>";
          document.getElementById("email").value = "<%= teacher.email %>";
          document.getElementById("SubjectId").selectedIndex = "<%= teacher.SubjectId %>";
          document.getElementById("formTeacher").action = "/teachers/edit/<%= teacher.id %>";
        }
    }, true);
    </script>
    <%- include('./partials/script.ejs') %>
