<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
</head>
<body>
    <%-include('./partials/navbar.ejs')%>
  <h1>EDIT STUDENT</h1>
    <form action="/student/edit/<%= student.id %>" method="POST">
        First name:<br>
        <input type="text" name="firstname" value = "<%= student.firstName%>" >
        <br>
        Last name:<br>
        <input type="text" name="lastname" value = "<%= student.lastName%>" >
        <br>
        email:<br>
        <input type="text" name="email" value = "<%= student.email%>" >
        <br><br>
        <input type="submit" value="EDIT STUDENT">
      </form> 
  <%-include('./partials/footer.ejs')%> 
</body>
</html>