<!DOCTYPE html>
<html>
<head>
    <title>Teacher Data </title>
    <style>
        table {
            width: 90%;
        }
        table, th, td {
            text-align: center;
            border-bottom: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
        }        
    </style>
</head>

<body>
    <h1 style="text-align: left; color: green">Edit Teacher Data</h1>
        
    <h4 ><a href="/teachers">All Teacher Data</a></h4>
    <form action="/teachers/edit/<%= data.id %>" method="POST">
        <label for="first_name"><b>First Name</b></label><br>
        <input size =50 type="text" name="first_name" value="<%= data.firstName %>" required><br>
        <label for="last_name"><b>Last Name</b></label><br>
        <input size =50 type="text" name="last_name" value="<%= data.lastName %>" required><br>
        <label for="email"><b>Email</b></label><br>
        <input size =50 type="text" name="email" value="<%= data.email %>" required><br>
        <label for="SubjectId"><b>Subject</b></label><br>
        <!-- <input type="text" name="SubjectId" value="<%= data.SubjectId %>" required><br> -->
        <select name = "SubjectId">
            <% subjects.forEach(element=> { %>
                <% if (data.SubjectId == element.id) { %>              
                    <option selected size =50  value='<%= element.id %>'> <%= element.subjectName %></option>
                <% } else { %>
                <option size =50  value='<%= element.id %>'> <%= element.subjectName %></option>
            <% } }) %>
        </select> <br> <br>
        <button type="submit">Edit Teacher</button>
    </form>
</body>

</html>