<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 align="center"><%= title%></h1>
    <table align="center">
      <tr>
        <th>id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>email</th>
      </tr>
        <tr>
          <td> <%= data.id%></td>
          <td> <%= data.first_name%></td>
          <td> <%= data.last_name%></td>
          <td> <%= data.email%></td>
        </tr>

    </table>
    <table align="center">
      <form method="POST">
        <tr>
          <div class="form-group">
            <td><label for="firstName">First Name </label></td>
            <td>:</td>
            <td><input type="text" class="form-control" name="first_name" placeholder="Enter first name"></td>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <td><label for="lastName">Last Name </label></td>
            <td>:</td>
            <td><input type="text" class="form-control" name="last_name" placeholder="Enter first name"></td>
          </div>
        </tr>
        <!-- <tr>
          <div class="form-group">
            <td><label for="email">Email</label></td>
            <td>:</td>
            <td><input type="email" class="form-control" id="email" placeholder="Enter email" name="email"></td>
          </div>
        </tr> -->
        <tr>

        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>
            <button type="submit" class="btn btn-default">Edit</button>
            <a href="/students" align="center">
              <button type="button" name="button">cancel</button>
          </td>
      </form>
    </table>
  </body>
</html>
