<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %> 
<body>
  <%- include('./partials/navbar.ejs') %>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#"></a></p>
      <p><a href="#"></a></p>
      <p><a href="#"></a></p>
    </div>
    <div class="col-sm-8 text-left"> 
      <h1>Score Form</h1>
    

<form action="/subjects/<%= id %>/give-score" method="POST">
    Nama: <strong> <%= `${dataStudent.firstName} ${dataStudent.lastName}` %></strong> <br>
    Subject : <strong><%= `${dataSubject.subjectName}` %> </strong><br>
 
    Score:<br>
    <input type="text" name="score" value="">
    <br><br>
    <input type="submit" value="Submit" >
  </form> 
  <%- include('./partials/footer.ejs') %>

</body>
</html>
