<%- include('./partials/header.ejs') %>
<%- include('./partials/sidebar.ejs') %>
<%- include('./partials/mainHeader.ejs') %>
                        <div class="row">
                          <div class="col-12 mt-5">
                              <div class="login-area login-s2">
                                  <div class="container">
                                      <div class="ptb--100">
                                              <!-- <div class="login-form-head"> -->
                                              <!-- </div> -->
                                              <div class="text-center">
                                                <h3><%= title %></h3>
                                                <p><%= message %></p>
                                                <img src="assets/images/school.jpg" class="rounded" alt="homeImage">
                                              </div>
                                      </div>
                                  </div>
                                </div>
                            </div>
                        </div>
<%- include('./partials/footer.ejs') %>
<%- include('./partials/script.ejs') %>
