<%- include('./partials/header.ejs') %>
<%- include('./partials/sidebar.ejs') %>
<%- include('./partials/mainHeader.ejs') %>
                        <div class="row">
                            <!-- Textual inputs start -->
                            <div class="col-12 mt-5">
                                <div class="card">
                                  <div class="card-body">
                                    <h4 class="header-title"><%= title %></h4>
                                    <% if (typeof postSuccessMsg != 'undefined' && postSuccessMsg) { %>
                                      <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <strong><%= postSuccessMsg %></strong>
                                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                  <span class="fa fa-times"></span>
                                              </button>
                                      </div>
                                    <% } else if(typeof postErrorMsg != 'undefined' && postErrorMsg) { %>
                                      <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                              <strong><%= postErrorMsg %></strong>
                                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                  <span class="fa fa-times"></span>
                                              </button>
                                      </div>
                                    <% } %>

                                    <div class="single-table">
                                        <div class="table-responsive">
                                            <table class="table text-center">
                                                <thead class="text-uppercase bg-light">
                                                    <tr>
                                                        <th scope="col">ID</th>
                                                        <th scope="col">First Name</th>
                                                        <th scope="col">Last Name</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">Actions</th>
                                                        <th scope="col">Options</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                  <% if (data.length) { %>
                                                    <% data.forEach( (student, i) => { %>
                                                      <tr>
                                                        <th scope="row"><%= i+1 %></th>
                                                        <td><%= student.firstName %></td>
                                                        <td><%= student.lastName %></td>
                                                        <td><%= student.email %></td>
                                                        <td><a href="/students/<%= student.id %>/add-subject" class="btn btn-success">Add Subject</a></td>
                                                        <td>
                                                          <div class="btn-group mb-xl-3" role="group" aria-label="Basic example">
                                                            <a href="/students/edit/<%= student.id %>" class="btn btn-warning">Edit</a>
                                                            <a href="/students/delete/<%= student.id %>" class="btn btn-danger" onclick="return confirm('Are you sure to delete?')">Delete</a>
                                                          </div>
                                                        </td>
                                                      </tr>
                                                    <% }) %>
                                                  <% } else { %>
                                                        <tr>
                                                          <td colspan="5">Empty</td>
                                                        </tr>
                                                  <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <!-- Textual inputs end -->
                        </div>
<%- include('./partials/footer.ejs') %>
<%- include('./partials/script.ejs') %>
