<!DOCTYPE html>
<html>
<head>
    
    <title>Subject Data </title>
    
    <%- include ./partials/style.ejs %>   
</head>
<body>
        <%- include ./partials/header.ejs %>
    <h1 style="text-align: left; color: green">All Subjects Data</h1>
    <h3 style="text-align: left;"><a style="color: green;text-decoration: none" ><a href="/subjects/add">Add Subject Data</a></h3>
    <h3 style="text-align: left;"><a style="color: green;text-decoration: none" ><a href="/teachers">go to Teacher Data</a></h3>
    <table>
        <tr>
            <th>Id</th>
            <th >Subject Name</th>
            <th>Teacher</th>
            <th>Actions</th>
            
            <!-- <th>Options</th> -->
        </tr>
            <% data.forEach(allSubjectData => {%>
            <tr>
                <td><%= allSubjectData.id %></td>
                <td><%= allSubjectData.subjectName %></td>
                <td><ol >
                <% allSubjectData.Teachers.forEach(singleTeacher => { %>
                <li><%= `${singleTeacher.firstName} ${singleTeacher.lastName}` %></li>
                <%  })   %>
                </ol>
                </td>
                <td><a href="/subjects/<%= allSubjectData.id %>/enrolled-students">Enrolled Students</a></td>

                <!-- <td><p><a href= "/subjects/edit/<%=allSubjectData.id%>">Edit</a> | <a href = "/subjects/delete/<%=allSubjectData.id%>" onclick = "return confirm('Delete this subject?')">Delete</a></p></td> -->
            </tr>
            <%})%>
    </table>
</body>
</html>