<!DOCTYPE html>
<html>

<head>
  <title>All Subjects
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <br>
  <h1 align="center">All Subjects</h1>
  <h3 align="center"><a href="/subjects/add">add subject</a></h3>
  <div class="container w-50">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Subject Name</th>
          <th>Teacher</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
          <% data.forEach( a => { %>
        <tr>
          <td> <%= a.id %> </td>
          <td> <%= a.subjectName %> </td>
          <td><ul>
            <% if ( a.Teachers.length > 0) {
              a.Teachers.forEach( b => { %>
                <li> <%= b.firstName + ' ' + b.lastName %> </li>
                <% })
              } %>
          </ul></td>
          <td><a href="/subjects/<%= a.id %>/enrolled-students">Enrolled Students</a></td>
          <!-- <td><% if (a.subjectId === null) {
          a.subjectId = 'unassigned' }%> <%= a.subjectId %></td>
          </td> -->
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>

</html>

