<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
    
<body>

<%- include('./partials/navbar.ejs') %>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#"></a></p>
      <p><a href="#"></a></p>
      <p><a href="#"></a></p>
    </div>
    <div class="col-sm-8 text-left"> 
      <h1>Subject</h1>
      <center><a href="/subjects/add">Add Subject</a></center>
      <table style="width:100%" border="1">
        <tr>
          <th>Subject ID</th>
          <th>Subject Name</th>
          <th>Teachers</th>
          <th>Actions</th>
          <th>Option</th>
        </tr>
        <tr>
          <strong><%= info %></strong>
        </tr>
        <tr>
          <strong><%= err %></strong>
        </tr>
        <% dataSend.forEach(DataSubject=> {%>
            <tr>
                <td><%= DataSubject.id %> </td>
                <td><%= DataSubject.subjectName %></td>
                <td><% DataSubject.Teachers.forEach(dataTeacher=> { %>
                   <%= `${dataTeacher.firstName} ${dataTeacher.lastName}`%> <br>
                <% }) %></td>
                <td>
                  <a href="/subjects/<%= DataSubject.id %>/enrolled-students">Enrolled Students</a>
                </td>
                <td>
                    <a href="/subjects/edit/<%=DataSubject.id%>">Edit</a> | <a href="/subjects/delete/<%=DataSubject.id%>"  onclick="return confirm('Are you sure to delete data ?')">Delete</a>
                </td>
            </tr>
        <% }) %>
      </table>
     </div>
     <%- include('./partials/footer.ejs') %>

</body>
</html>
