<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>
<body>
  <h1>All Subject Data</h1>
  <table>
    <tr>
      <th> Id </th>
      <th> Subject </th>
      <th> Teacher </th>
      <th> Actions </th>
    </tr>
    <% data.forEach(element =>{%>
    <tr>
      <td><%= element.id %></td>
      <td><%= element.subject_name %></td>
      <td>
        <% element.Teachers.forEach((eTeacher, index) =>{ %>
        <br>
            <%=index+1%>. <%= eTeacher.first_name %> <%= eTeacher.last_name %>
            <% }) %>
      </td>
      <td><a href="/subject/<%= element.id %>/enrolled-student">Enrolled Students</a></td>
    </tr>
    <% }) %>
  </table>
</body>
</html>