<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partial/style.ejs') %>
      <head>
        <meta charset="utf-8">
        <title></title>
      </head>
      <body>
        <%- include('./partial/header.ejs') %>
    <h1 align="center"><%= title%></h1>
    <table align="center">
      <tr>
        <th> Id </th>
        <th> First Name </th>
        <th> Last Name </th>
        <th> Email </th>
        <th> Subject</th>
        <th> Option </th>
      </tr>
      <% data.forEach(item =>{ %>
        <tr>
          <td> <%= item.id%></td>
          <td> <%= item.first_name%></td>
          <td> <%= item.last_name%></td>
          <td> <%= item.email%></td>
          <td> <% var subjectId_ejs = ''; %>
               <% if(item.Subject == null){
                subjectId_ejs = 'unassigned'
                }
                else {
                subjectId_ejs = item.Subject.subject_name
                }
                  %>
                  <%= subjectId_ejs %></td>
          <td>
            <a href="/teachers/edit/<%- item.id%>" ><button align="center">edit</button></a> |
            <a href="/teachers/delete/<%- item.id%>" ><button align="center">delete</button></a>
          </td>
        </tr>
        <%})%>
    </table>
    <div align="center">
      <a href="/teachers/add" ><button align="center">add teacher</button></a>
      <br>
      <a href="/"><button type="button" name="button">back to home</button></a>
    </div>
  </body>
</html>
