<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>teacher</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>
<body>
    <%- include partials/navbar.ejs %>
  <h1>All Teachers Data</h1>
  <p><a href="/teacher/add">Add Teachers Data</a></p>
  <p>
    <table>
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Subject</th>
        <th>Options</th>
      </tr>
      <% data.forEach(element=>{%>
      <tr>
        <td><%= element.id %></td>
        <td><%= element.first_name %></td>
        <td><%= element.last_name %></td>
        <td><%= element.email %></td>
        <% if (element.Subject == null){%>
          <td>unassigned</td>
        <% } else {%>
        <td><%= element.Subject.subject_name%></td>
        <% } %>
        <td> <a href="/teacher/edit=<%=element.id%>">edit</a> || <a href= "/teacher/delete=<%=element.id%>" onclick="confirm ('delete this teacher?')">delete</a></td>
      </tr>
      <% })%>
    </table>
  </p>
</body>
</html>