<!DOCTYPE html>
<html>

<head>
  <title>All Teacher
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/c
ss/bootstrap.min.css">
</head>

<body>
  <br>
  <h1 align="center">All Teachers</h1>
  <a href="/teachers/add"><h3 align="center"> Add Teacher</h3></a><br>
  <div class="container w-50">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Subject</th>
          <th>Option</th>
        </tr>
          <% data.forEach( a => { %>
        <tr>
          <td> <%= a.id %> </td>
          <td> <%= a.firstName %> </td>
          <td> <%= a.lastName %> </td>
          <td> <%= a.email %></td>
          <% if (a.Subject) { %>
          <td> <%= a.Subject.subjectName %> </td>
          <% } else { %>
            <td> unassigned </td>
          <% } %>
          <td>
            <form action="/teachers" method="POST">
              <a href="/teachers/edit/<%= a.id %>"><button type="button" class="btn btn-warning" name="edit">Edit</button></a>
              <button type="submit" class="btn btn-danger" name="delete" onclick="return confirm('Are you sure?')" value="<%= a.id %>">Delete</button>
            </form>
          </td>
        </tr>
        <% }) %>
        </tbody>
    </table>
  </div>
</body>

</html>