<!DOCTYPE html>
<html>
<head>
    
    <title>Teacher Data </title>
    
    <%- include ./partials/style.ejs %>  
</head>
<body>
        <%- include ./partials/header.ejs %>
    <h1 style="text-align: left; color: green">All Teachers Data</h1>
    <h3 style="text-align: left;"><a style="color: green;text-decoration: none" ><a href="/teachers/add">Add Teacher Data</a></h3>
    <table>
        <tr>
            <th>Nomor</th>
            <th >First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <!-- <th>Subject</th> -->
            <th>Subject Name</th>
            <th>Options</th>
        </tr>
            <% data.forEach( (elemen, indeks) => {%>
            <tr>
                <td><%= indeks+1 %></td>
                <td><%= elemen.firstName %></td>
                <td><%= elemen.lastName %></td>
                <td><%= elemen.email %></td>
                
                <% if (!elemen.Subject){ %>
                <td>unassigned</td>
                <% } else {%>                
                    <td><%= elemen.Subject.subjectName %></td>
                <% } %>
                
                <td><p><a href= "/teachers/edit/<%=elemen.id%>">Edit</a> | <a href = "/teachers/delete/<%=elemen.id%>" onclick = "return confirm('Delete this teacher?')">Delete</a></p></td>
            </tr>
            <%})%>
    </table>
</body>
</html>